body {
    margin: 0;
    padding: 0;

    background-color: $background-color;

    -webkit-tap-highlight-color: transparent;
}

img {
    margin: 0;
    margin-bottom: $padding-medium;
    padding: 0;

    border: none;
}

.page-content {
    max-width: 84rem;
    margin: auto;
    padding: $padding-medium $padding-large;
}
