body {
    margin: 0;
    padding: 0;

    background-color: $background-color;
}

nav {
    padding: $padding-medium $padding-large;

    border-bottom: 1px solid $border-color;
    background-color: $foreground-color;
}
