body {
    margin: 0;
    padding: 0;

    background-color: $background-color;

    -webkit-tap-highlight-color: transparent;
}

img {
    margin: 0;
    padding: 0;

    border: none;
}

ul,
ol {
    margin: 0;
    margin-top: $padding-small;
    margin-bottom: $padding-large;
    padding: 0;
    padding-left: $padding-medium + $padding-medium;

    list-style: disc;

    li {
        margin: $padding-tiny 0;
        padding: 0;
    }
}

.page-content {
    width: 85vw;
    max-width: $breakpoint-large;
    margin: auto;
    padding: $padding-medium $padding-large;

    @media screen and (max-width: $breakpoint-large) {
        width: 90vw;
    }

    @media screen and (max-width: $breakpoint-medium) {
        width: auto;
    }
}
