.dashboard-grid {
    display: grid;

    margin-bottom: 2rem;

    grid-gap: $padding-large;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    @media screen and (max-width: $breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $breakpoint-medium) {
        grid-gap: $padding-medium;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $breakpoint-small) {
        grid-template-columns: repeat(1, 1fr);
    }

    .dashboard-page {
        position: relative;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 30% $padding-medium;

        cursor: pointer;
        transition: transform 0.1s ease, background-color 0.1s ease;
        transform: none;

        border-radius: $border-radius;
        background-color: $foreground-color;
        box-shadow: $shadow-card;

        &::before {
            content: none;
        }

        &:hover,
        &:focus {
            transform: scale(1.04);
        }

        &:active {
            transform: scale(1);
        }

        &.page-action {
            color: $accent-text-color;
            background-color: $accent-color;
        }

        i {
            font-size: 2.5rem;
        }

        img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            width: 100%;
            height: 100%;

            border-radius: none;

            object-fit: cover;
        }

        p {
            margin-top: 0.5rem;

            font-size: 1rem;
        }

        .dashboard-page-title,
        .dashboard-item-title {
            box-sizing: border-box;
            margin: 0;
            padding: $padding-tiny $padding-medium;

            pointer-events: none;

            font-size: 1.5rem;
        }

        .dashboard-item-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            max-height: 100%;

            text-transform: none;

            background-color: rgba($foreground-color, 0.87);

            font-family: $font-subheading;
            font-size: 1.2rem;
            line-height: 1.25;
        }
    }
}


