.dashboard-grid {
    display: grid;

    margin-bottom: 2rem;

    grid-gap: $padding-large;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    @media screen and (max-width: $breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: $breakpoint-medium) {
        grid-gap: $padding-medium;
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $breakpoint-small) {
        grid-template-columns: repeat(1, 1fr);
    }

    .dashboard-artefact {
        position: relative;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        box-sizing: border-box;
        width: 100%;
        height: 0;
        padding: 38% 0;

        cursor: pointer;
        transition: transform 0.12s $m-ease;
        transform: none;

        border-radius: $border-radius;
        background-color: $foreground-color;
        box-shadow: $shadow-card;

        &::before {
            content: none;
        }

        &:hover,
        &:focus {
            z-index: 1;

            transform: scale(1.03);

            .dashboard-artefact-background {
                transform: scale(1.02);
            }
        }

        &:active {
            transform: scale(0.98);

            .dashboard-artefact-background {
                transform: scale(1);
            }
        }

        &.page-action {
            color: $accent-text-color;
            background-color: $accent-color;
        }

        i {
            font-size: 2.5rem;
        }

        .dashboard-artefact-background {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;

            width: 100%;
            height: 100%;

            transition: transform 0.12s $m-ease;
            transform: scale(1);

            border-radius: 0;

            object-fit: cover;
        }

        .dashboard-artefact-owner {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 1.5rem;
            height: 1.5rem;
            margin: $padding-tiny;

            border-radius: $border-radius;
            box-shadow: $shadow-image;
        }

        p {
            margin-top: 0.5rem;

            font-size: 1rem;
        }
    }
}

.dashboard-artefact-title {
    margin-top: $padding-small;
    margin-bottom: $padding-medium;
    padding: 0;

    text-align: center;

    font-family: $font-subheading;
    font-size: 1.2rem;
}


$chip-height: 2rem;

.chip-container {
    display: inline-block;
}

.chip {
    position: relative;

    display: inline-block;

    min-height: $chip-height;
    margin-right: $padding-small;
    margin-bottom: $padding-medium;

    border-radius: $border-radius;
    background-color: rgba(0, 0, 0, 0.08);

    line-height: $chip-height;

    .chip-image {
        float: left;

        width: $chip-height;
        height: $chip-height;
        margin-right: $padding-small;

        border-radius: $border-radius;
    }

    .chip-text {
        padding-right: $padding-small;

        &:last-child {
            padding-right: $padding-medium;
        }
    }

    .chip-button {
        float: right;

        width: $chip-height;
        height: $chip-height;

        cursor: pointer;
        transition: color 0.1s $m-ease;
        vertical-align: middle;

        i {
            transition: color 0.1s $m-ease;
            vertical-align: middle;

            color: $icon-color;

            font-size: 1.5rem;
        }

        &:hover,
        &:focus {
            &,
            i {
                color: $accent-color-hover;
            }
        }

        &:active {
            &,
            i {
                color: $accent-color-active;
            }
        }

        &.chip-button-error {
            &:hover,
            &:focus {
                &,
                i {
                    color: $error-color-hover;
                }
            }

            &:active {
                &,
                i {
                    color: $error-color-active;
                }
            }
        }
    }
}

.user-results {
    width: 100%;

    border-spacing: 0;

    border-collapse: collapse;

    .user-picture {
        width: $chip-height;
        height: $chip-height;

        vertical-align: middle;

        border-radius: $border-radius;
    }

    th,
    td {
        padding: $padding-small $padding-small;

        text-align: left;
    }

    td {
        vertical-align: middle;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}


