.dialog {
    position: fixed;
    z-index: 2000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;

    align-items: center;
    justify-content: center;

    .dialog-background {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        transition: opacity 0.2s $m-ease;

        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .dialog-content {
        z-index: 1;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        box-sizing: border-box;
        min-width: 24rem;
        max-width: 50vw;
        max-height: calc(100vh - #{$padding-small * 2});
        margin: $padding-small;
        padding: 0;

        transition: opacity 0.12s $m-ease-in, transform 0.12s $m-ease-in;
        transform: scale(0.8);

        opacity: 0;
        border: none;
        border-radius: $border-radius;
        background-color: $foreground-color;
        box-shadow: $shadow-dialog;

        @media screen and (max-width: $breakpoint-large) {
            max-width: 75vw;
        }

        @media screen and (max-width: $breakpoint-medium) {
            min-width: 20rem;
            max-width: 100vw;
        }

        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
            min-width: auto;
        }

        .dialog-heading {
            margin-top: $padding-medium + $padding-small;
            padding-top: 0;
            padding-right: 4rem;

            font-size: 1.5rem;
        }

        .dialog-panel {
            padding: 0 $padding-large;

            &.dialog-panel-border {
                border-bottom: 1px solid $border-color;
            }

            &.dialog-panel-scrollable {
                overflow: auto;

                padding-top: $padding-medium;
                padding-bottom: $padding-medium;

                .dialog-action:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .dialog-image {
            float: right;

            max-width: 60%;
            margin-top: $padding-small;
            margin-bottom: $padding-medium;
            margin-left: $padding-large;

            border: none;
            border-radius: $border-radius;

            @media screen and (max-width: $breakpoint-large) {
                max-width: 50%;
            }

            @media screen and (max-width: $breakpoint-medium) {
                max-width: 40%;
            }

            @media screen and (max-width: $breakpoint-small) {
                float: none;

                max-width: 100%;
                margin-left: 0;
            }
        }

        .dialog-button-close {
            position: absolute;
            right: $padding-large + $padding-small;
            top: calc(#{$padding-medium + $padding-small} + 0.15rem);
        }

        .dialog-body-text {
            margin: 0;
            padding: 0;
        }

        .dialog-action {
            width: 100%;
            margin: $padding-medium 0;
        }
    }

    &.dialog-small {
        .dialog-content {
            width: auto;
            min-width: auto;

            .dialog-heading {
                padding-bottom: 0;
            }
        }
    }

    &.dialog-centered {
        .dialog-content {
            display: flex;
            flex-direction: column;

            padding: $padding-medium 0;

            align-items: center;
            justify-content: center;
        }
    }

    &.visible {
        .dialog-background {
            transition: opacity 0.4s $m-ease;

            opacity: 1;
        }

        .dialog-content {
            transition: opacity 0.2s $m-ease-out, transform 0.2s $m-ease-out;
            transform: scale(1);

            opacity: 1;
        }
    }
}
