$dropdown-offset-h: 1.0rem;
$dropdown-offset-v: 1.5rem;

.dropdown-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    z-index: 1000;
    top: calc(50% + #{$dropdown-offset-v});

    overflow: hidden;

    min-width: 10rem;

    transition: opacity 0.12s $m-ease, transform 0.12s $m-ease-in;
    transform: translateY(-0.5rem) scale(0.9);
    transform-origin: 50% 0;

    opacity: 0;
    border: none;
    border-radius: $border-radius;
    background-color: $foreground-color;
    box-shadow: $shadow-dropdown;

    &.dropdown-left {
        left: calc(50% - #{$dropdown-offset-h});

        transform-origin: 0 0;
    }

    &.dropdown-right {
        right: calc(50% - #{$dropdown-offset-h});

        transform-origin: 100% 0;
    }

    &.visible {
        transition: opacity 0.15s $m-ease, transform 0.15s $m-ease-out;
        transform: translateY(0) scale(1);

        opacity: 1;
    }
}

.dropdown-panel {
    padding: $padding-medium 0;

    border-bottom: 1px solid $border-color;

    &:last-child {
        border-bottom: none;
    }

    &.dropdown-heading {
        padding: $padding-medium $padding-medium;

        font-family: $font-subheading;
        font-weight: 700;
    }
}
