button,
input,
select,
textarea {
    display: block;

    border: none;
    background: none;
    background-color: transparent;

    font-family: $font-body;
}

input[type="file"] {
    display: block;

    width: 0;
    height: 0;
    margin: 0;
    padding: 0;

    opacity: 0;
    border: none;

    flex: 0;
}

input[type="file"] {
    &:hover + label.button,
    &:focus + label.button {
        background-color: $accent-color-hover;
        box-shadow: $shadow-button-hover;
    }

    &:active + label.button {
        background-color: $accent-color-active;
        box-shadow: $shadow-button-active;
    }
}

textarea {
    min-height: 4rem;

    resize: vertical;
}

select,
textarea,
input[type="text"] {
    width: 100%;
}

select,
textarea,
input[type="text"] {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    margin-bottom: $padding-medium;
    padding: $padding-medium $padding-medium;

    transition: border-color 0.1s $m-ease;

    border: 1px solid $border-color;
    border-radius: $border-radius;

    appearance: none;

    ::-ms-clear {
        display: none;
    }

    &::placeholder {
        color: $text-color-detail;
    }

    &:invalid {
        background-image: url("/img/asterisk.svg");
        background-repeat: no-repeat;
        background-position: right $padding-medium top $padding-large;
        background-size: 0.5rem;
    }

    &:focus {
        border-color: $accent-color;
    }

    &.input-description {
        margin-bottom: 0;
        padding: $padding-small $padding-medium;
    }
}
