body {
    color: $text-color;

    font-family: $font-body;
    font-weight: 400;
}

::selection {
    background: transparentize($accent-color, 0.75);
}

::-moz-selection {
    background: transparentize($accent-color, 0.75);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
input,
button {
    margin: 0;
    padding: 0;

    text-decoration: none;
}

h1 {
    padding-top: $padding-medium;
    padding-bottom: $padding-large;

    color: $text-color;

    font-family: $font-heading;
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    padding-bottom: $padding-medium;

    color: $text-color;

    font-family: $font-subheading;
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    padding-bottom: $padding-small;

    color: $text-color;

    font-family: $font-subheading;
    font-size: 1.2rem;
    font-weight: 700;
}

.subheading {
    margin: $padding-tiny 0;
    padding: 0;

    letter-spacing: 0.04rem;
    text-transform: uppercase;

    color: $text-color-detail;

    font-size: 0.85rem;
}

a {
    color: $accent-color;
}

p {
    padding-bottom: $padding-small;

    line-height: 1.25;
}

.text-description {
    padding-bottom: $padding-medium;

    color: $text-color-detail;
}


.message {
    margin: 0;
    margin-bottom: $padding-small;
    padding: $padding-small $padding-medium;

    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: rgba($border-color, 0.1);

    &.message-error {
        border: 1px solid $error-color;
        background-color: rgba($error-color, 0.1);
    }
}
