<div id="DialogAddItem" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <h1 class="dialog-heading">Add New Item</h1>

        <form action="/page/<%= page._id %>/additem" method="post" autocomplete="off" data-post-text="Adding New Item">
            <p class="input-heading">Item Name</p>
            <input type="text" name="itemname" placeholder="Item Name" required>

            <p class="input-heading">Description</p>
            <textarea name="itemdescription" rows="6" placeholder="Item Description"></textarea>

            <input type="submit" value="Add Item" class="button dialog-action">
        </form>
    </div>
</div>