<div id="DialogAddArtefact" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <h1 class="dialog-heading">Add New Artefact</h1>

        <form action="/page/<%= page._id %>/addartefact" method="post" autocomplete="off" data-post-text="Adding New Artefact">
            <p class="input-heading">Artefact Name</p>
            <input type="text" name="artefactname" placeholder="Artefact Name" required>

            <p class="input-heading">Description</p>
            <textarea name="artefactdescription" rows="6" placeholder="Artefact Description"></textarea>

            <input type="submit" value="Add Artefact" class="button dialog-action">
        </form>
    </div>
</div>