<div id="DialogEditItem" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <h1 class="dialog-heading">Edit Item</h1>

        <form action="/page/<%= page._id %>/additem" method="post" autocomplete="off" data-post-text="Updating Item">
            <input id="EditItemId" type="hidden" name="itemid" required>

            <p class="input-heading">Item Name</p>
            <input id="EditItemName" type="text" name="itemname" placeholder="Item Name" required>

            <p class="input-heading">Description</p>
            <textarea id="EditItemDescription" name="itemdescription" rows="4" placeholder="Item Description"></textarea>

            <input type="submit" value="Update Item" class="button dialog-action">
        </form>

        <form action="/page/<%= page._id %>/deleteitem" method="post" autocomplete="off" data-post-text="Deleting Item">
            <input id="EditItemDeleteId" type="hidden" name="itemid" required>

            <input type="submit" value="Delete Item" class="button button-error dialog-action">
        </form>
    </div>
</div>