<div id="DialogShareArtefact" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <div class="dialog-panel">
            <h1 class="dialog-heading">Share with Users</h1>
        </div>

        <div class="dialog-panel dialog-panel-scrollable">
            <input id="DialogShareArtefactId" type="hidden">
            <h3 id="DialogShareArtefactName"></h3>

            <div class="button-group">
                <input id="DialogShareInputSearch" type="text" placeholder="Search for Users">
                <button id="DialogShareButtonSearch" class="button">Search</button>
            </div>

            <p class="text-description">Share this artefact with other users, so that they can see it in their
                dashboards. Users will only appear in the search
                if they have signed in with an account already.</p>

            <div id="DialogShareSearchResult">

            </div>
        </div>
    </div>
</div>
