<div id="DialogAddViewers" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <div class="dialog-panel">
            <h1 class="dialog-heading">Add Viewers</h1>
        </div>

        <div class="dialog-panel dialog-panel-scrollable">
            <input id="AddViewersShareId" type="hidden">
            <h3 id="AddViewersShareName"></h3>

            <div class="button-group">
                <input id="AddViewersInputSearch" type="text" placeholder="Search for Users">
                <button id="AddViewersButtonSearch" class="button">Search</button>
            </div>

            <p class="text-description">Share this artefact with other users, so that they can see it in their dashboards. Users will only appear in the search
                if they have signed in with an account already.</p>

            <div id="AddViewersSearchResult">

            </div>
        </div>
    </div>
</div>
