<div id="DialogAddViewers" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <div class="dialog-panel">
            <h1 class="dialog-heading">Add Viewer</h1>
        </div>

        <div class="dialog-panel dialog-panel-scrollable">
            <input id="AddViewersShareId" type="hidden">

            <div class="button-group">
                <input id="AddViewersInputSearch" type="text" placeholder="Search for Users">
                <button id="AddViewersButtonSearch" class="button">Search</button>
            </div>

            <div id="AddViewersSearchResult">

            </div>
        </div>
    </div>
</div>
