<div id="DialogManagePage" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <h1 class="dialog-heading">Manage Page</h1>

        <form action="/user/deletepage/<%= page._id %>" method="post" data-post-text="Deleting Page">
            <input type="submit" value="Delete Page" class="button button-error dialog-action">
        </form>
    </div>
</div>