<div id="DialogEditArtefact" class="dialog" data-dialog-cancelable="true">
    <div class="dialog-background"></div>
    <div class="dialog-content">
        <h1 class="dialog-heading">Edit Artefact</h1>

        <form action="/page/<%= page._id %>/addartefact" method="post" autocomplete="off" data-post-text="Updating Artefact" enctype="multipart/form-data">
            <input id="EditArtefactId" type="hidden" name="artefactid" required>

            <p class="input-heading">Artefact Name</p>
            <input id="EditArtefactName" type="text" name="artefactname" placeholder="Artefact Name" required>

            <p class="input-heading">Description</p>
            <textarea id="EditArtefactDescription" name="artefactdescription" rows="4" placeholder="Artefact Description"></textarea>

            <p class="input-heading">Image</p>
            <div class="button-group">
                <label for="EditArtefactUploadImage" class="button">Upload Image</label>
                <input id="EditArtefactUploadImage" data-file-description="EditArtefactImageName"
                    type="file" name="image" accept="image/*;capture=camera">
                <input id="EditArtefactImageName" class="input-description"
                    type="text" name="imagename" placeholder="No Image Uploaded" disabled>
            </div>

            <input type="submit" value="Update Artefact" class="button dialog-action">
        </form>

        <form action="/page/<%= page._id %>/deleteartefact" method="post" autocomplete="off" data-post-text="Deleting Artefact">
            <input id="EditArtefactDeleteId" type="hidden" name="artefactid" required>
            <input type="submit" value="Delete Artefact" class="button button-error dialog-action">
        </form>
    </div>
</div>