<!-- Handle no JavaScript support or JavaScript disabled -->
<noscript>

    <style>
        .main-content {
            display: none;
        }

    </style>

    <div class="page-content">
        <h1>Inherit That</h1>
        <h2>JavaScript Disabled</h2>
        <p>Please enable JavaScript in your browser to continue.</p>
    </div>

</noscript>

<!-- The message to show when a user's browser isn't supported -->
<div id="BrowserUpgradeMessage" class="page-content" style="display: none;">
    <h1>Inherit That</h1>
    <h2>Browser Not Supported</h2>
    <p>Your browser isn't supported. Please upgrade your browser to continue</p>
</div>

<!-- Use Modernizr to check browser features -->
<script src="/js/vendor/modernizr.js"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        try {
            // Check CSS
            if (!Modernizr.cssgrid || !Modernizr.flexbox) {
                throw new Error("Does not support necessary CSS");
            }

            // Check JavaScript
            if (!Modernizr.arrow) {
                throw new Error("Does not support necessary JavaScript");
            }
        } catch (e) {
            // Hide main content
            var i;
            var main = document.getElementsByClassName("main-content");
            for (i = 0; i < main.length; i += 1) {
                main[i].style.display = "none";
            }

            // Show error message
            document.getElementById("BrowserUpgradeMessage").style.display = "block";
        }
    })();
</script>
