<!DOCTYPE html>
<html class="no-js" lang="en">

<% include includes/head %>

<body>

	<% include includes/elements/navigation %>

	<!-- Do not include the navigation bar in the layout on the home page -->
	<style>
		.navigation-top {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
	</style>

	<nav class="navigation-sidebar flex-vertical flex-center">
		<ul id="NavigationSidebar">
			<li>
				<a href="#Home" data-menuanchor="Home">
					<i class="material-icons-outlined">home</i>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="#About" data-menuanchor="About">
					<i class="material-icons-outlined">info</i>
					<span>About</span>
				</a>
			</li>
			<li>
				<a href="#Register" data-menuanchor="Register">
					<i class="material-icons-outlined">person_add</i>
					<span>Register</span>
				</a>
			</li>
		</ul>
	</nav>


	<main id="HomeMain">

		<!-- HOME -->
		<div class="section fp-auto-height-responsive" data-section="home">

			<div class="flex-horizontal flex-center">
				<!-- Left Half-->
				<div class="flex-vertical flex-left">
					<h1 class="home-heading">Got Artefacts?</h1>
					<p class="home-subheading">Manage them</p>

					<a class="button" href="#About">Get started</a>
				</div>

				<!-- Right Half-->
				<img class="home-logo" src="/img/logo_dark.png" >
			</div>


			<!-- Scroll Icon on Bottom -->
			<footer class="home-scrolldown">
				<span>Scroll Down</span>
			</footer>

		</div>

		<!-- ABOUT SECTION -->
		<div class="section fp-auto-height-responsive" data-section="about">
			<div class="section-wrapper center-vh dir-col anim">
				<div class="section-title text-center">
					<h2 class="display-4 display-title ">About</h2>
				</div>

				<div class="section-content reduced anim text-center">
					<div class="title-desc ">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
							malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
							tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
							dui. Fusce in urna sem.</p>
					</div>

				</div>


				<!-- Scroll Icon on Bottom -->
				<footer class="home-scrolldown">
					<span>Scroll Down</span>
				</footer>
			</div>
		</div>

	 
		<!-- Registration/Log In section-->
		<div class="section fp-auto-height-responsive " data-section="register">
			<div class="section-wrapper center-vh dir-col"> 
					<div class="item row justify-content-between">
						<div class="col-12 col-sm-6 col-md-5">
								<div class="section-content anim">
									<div class="title-desc">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
											malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum
											ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id
											pretium leo. Pellentesque luctus massa non elit viverra pellentesque.
											Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui.
											Fusce in urna sem.</p>
									</div>
								</div>
							</div>
						
						<!-- Sign Up Form-->
						<div class="col-12 col-sm-6 center-vh">
							add google sign up form here
						</div>  
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include includes/scripts %>

	<!-- 
		
	fullPage - creates fullscreen scrolling sites, used the scroll bar section. Each section represented by "data-menuanchor"
	scrollOverflow - supports the above
	
	-->
	
	<script src="/js/vendor/jquery.fullpage.min.js"></script>
	<link rel="stylesheet" href="/css/jquery.fullpage.min.css">

	<script src="/js/home.js"></script>

</body>

</html>