<!DOCTYPE html>
<html class="no-js" lang="en">

<% include includes/head %>

<body>

	<% include includes/elements/navigation %>

	<!-- Do not include the navigation bar in the layout on the home page -->
	<style>
		.navigation-top {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}
	</style>

	<nav class="navigation-sidebar flex-vertical flex-center">
		<ul id="NavigationSidebar">
			<li>
				<a href="#home" data-menuanchor="home">
					<i class="material-icons-outlined">home</i>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="#about" data-menuanchor="about">
					<i class="material-icons-outlined">info</i>
					<span>About</span>
				</a>
			</li>
			<li>
				<a href="#register" data-menuanchor="register">
					<i class="material-icons-outlined">person_add</i>
					<span>Register</span>
				</a>
			</li>
		</ul>
	</nav>


	<main class="home-body" id="HomeMain">

		<!-- HOME -->
		<div class="section fp-auto-height-responsive" data-section="home">

			<div class="flex-horizontal flex-center">
				<!-- Left Half-->
				<div class="flex-vertical flex-left">
					<h1 class="home-title">Got Artefacts?</h1>
					<p class="home-subtitle">Manage them</p>

					<a class="button" href="#about">Get started</a>
				</div>

				<!-- Right Half-->
				<img class="home-logo" src="/img/logo_dark.png" >
			</div>


			<!-- Scroll Icon on Bottom -->
			<footer class="home-scrolldown">
				<span>Scroll Down</span>
			</footer>

		</div>

		<!-- ABOUT SECTION -->
		<div class="section fp-auto-height-responsive" data-section="about">
			<h2 class="home-heading">About</h2>

			<p class="home-text-full">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
				malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
				tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
				dui. Fusce in urna sem.
			</p>

			<!-- Scroll Icon on Bottom -->
			<footer class="home-scrolldown">
				<span>Scroll Down</span>
			</footer>
		</div>

	 
		<!-- Registration/Log In section-->
		<div class="section fp-auto-height-responsive" data-section="register">
			<div class="flex-horizontal home-login">
				<p class="home-text-left">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
					malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum
					ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id
					pretium leo. Pellentesque luctus massa non elit viverra pellentesque.
					Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui.
					Fusce in urna sem.
				</p>

				<!-- Sign Up Form-->
				<div class="flex-fill flex-center">
                    <a class="button" href="/auth/google">Register with Google</a>
				</div>  
			</div>
		</div>
	</main>

	<% include includes/scripts %>

	<!-- 
		
	fullPage - creates fullscreen scrolling sites, used the scroll bar section. Each section represented by "data-menuanchor"
	scrollOverflow - supports the above
	
	-->
	
	<script src="/js/vendor/jquery.fullpage.min.js"></script>
	<link rel="stylesheet" href="/css/jquery.fullpage.min.css">

	<script src="/js/home.js"></script>

</body>

</html>