<!DOCTYPE html>
<html class="no-js" lang="en">

<% include includes/head %>

<body>

	<div id="HomeLoading" class="loading-fullscreen">
		<div class="loading-chain">
			<span class="loading-chain-link"></span>
			<span class="loading-chain-link"></span>
			<span class="loading-chain-link"></span>
			<span class="loading-chain-link"></span>
		</div>

		<p>Loading</p>
	</div>

	<nav class="navigation-sidebar flex-vertical flex-center">
		<ul id="NavigationSidebar">
			<li>
				<a href="#home" data-menuanchor="home">
					<i class="material-icons-outlined">home</i>
					<span>Home</span>
				</a>
			</li>
			<li>
				<a href="#about" data-menuanchor="about">
					<i class="material-icons-outlined">info</i>
					<span>About</span>
				</a>
			</li>
			<li>
				<a href="#register" data-menuanchor="register">
					<i class="material-icons-outlined">person_add</i>
					<span>Register</span>
				</a>
			</li>
		</ul>
	</nav>


	<main class="home-body" id="HomeMain">

		<!-- HOME -->
		<div class="section" data-section="home">

			<div class="flex-horizontal-responsive flex-center">
				<!-- Left Half -->
				<div class="flex-vertical flex-left-responsive">
					<h1 class="home-title">Got Artefacts?</h1>
					<p class="home-subtitle">Manage them</p>

					<div class="button-group">
						<a class="button button-outline" href="/auth/google">Log In</a>
						<a class="button button-outline" href="#about">Get started</a>
					</div>
				</div>

				<!-- Right Half -->
				<img class="home-logo" src="/img/logo_dark.png" >
			</div>

			<!-- Scroll Icon on Bottom -->
			<a class="home-scrolldown" href="#about">Scroll Down</a>

		</div>

		<!-- ABOUT SECTION -->
		<div class="section fp-auto-height-responsive" data-section="about">

			<h2 class="home-heading">About</h2>

			<p class="home-text-full">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
				malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
				tincidunt non. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis
				dui. Fusce in urna sem.
			</p>

			<!-- Scroll Icon on Bottom -->
			<a class="home-scrolldown" href="#register">Scroll Down</a>

		</div>

		<!-- Registration/Log In section-->
		<div class="section fp-auto-height-responsive" data-section="register">

			<h2 class="home-heading">Register</h2>

			<div class="flex-horizontal-responsive home-login">
			
				<div class="flex-vertical">
					<p class="home-text-left">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet
						malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum
						ipsum tincidunt non. Quisque convallis pharetra tempor. Donec id
						pretium leo. Pellentesque luctus massa non elit viverra pellentesque.
						Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui.
						Fusce in urna sem.
					</p>
				</div>

				<!-- Sign Up Form-->
				<div class="flex-vertical flex-fill flex-center">
                    <a class="button" href="/auth/google">Login with Google</a>
				</div>  
			</div>

		</div>
	</main>

	<% include includes/scripts %>

	<!--
	fullPage - creates fullscreen scrolling sites, used the scroll bar section. Each section represented by "data-menuanchor"
	scrollOverflow - supports the above
	-->
	
	<script src="/js/vendor/scrolloverflow.min.js"></script>
	<script src="/js/vendor/jquery.fullpage.min.js"></script>

	<script src="/js/home.js"></script>

</body>

</html>