<button class="dashboard-page page-artefact button-icon-noborder" data-artefact-id='<%= artefact._id %>'>
    <i class=" material-icons-outlined">photo</i>
    <% if (artefact.images.item) { %>
    <img src="<%= artefact.images.item.url %>" alt="<%= artefact.name %>" />
    <% }; %>

    <p class="dashboard-item-title"><%= artefact.name %></p>
</button>
