<!DOCTYPE html>
<html>

<% include ../includes/head %>

<body>

    <div class="main-content">
        <% include ../includes/elements/navigation %>

        <div class="page-content">
            <h1>Dashboard</h1>

            <h2>My Artefacts</h2>
            <div id="DashboardGridMyArtefacts" class="dashboard-grid">
                <% if (artefacts.owner) { %>
                <% for (let i = 0; i < artefacts.owner.length; ++i) { %>
                <% let artefact = artefacts.owner[i]; %>
                <button class="dashboard-page page-artefact button-icon-noborder"
                    data-artefact-id='<%= artefact._id %>'>
                    <i class=" material-icons-outlined">photo</i>
                    <% if (artefact.images.item) { %>
                    <img src="<%= artefact.images.item.url %>" alt="<%= artefact.name %>" />
                    <% }; %>

                    <p class="dashboard-item-title"><%= artefact.name %></p>
                </button>
                <% }; %>
                <% }; %>

                <button id="PageButtonAddArtefact" class="dashboard-page page-action button-icon-noborder">
                    <i class="material-icons-outlined">add</i>
                    <p>Add New Artefact</p>
                </button>
            </div>

            <h2>Shared Artefacts</h2>
            <div id="DashboardGridSharedArtefacts" class="dashboard-grid">
            </div>
        </div>

        <% include ../includes/dialogs/dialogViewArtefact %>
        <% include ../includes/dialogs/dialogEditArtefact %>
        <% include ../includes/dialogs/dialogAddArtefact %>
    </div>

    <script defer src="/js/dashboard.js"></script>
    <% include ../includes/scripts %>

</body>

</html>
