<!DOCTYPE html>
<html>

    <% include ../includes/head %>

    <body>

        <% include ../includes/elements/navigation %>

        <div class="page-content">
            <h1><%= page.name %></h1>
            
            <h2>Items</h2>
            <div id="PageGridItems" class="dashboard-grid">
                <% if (page && page.items) { %>
                    <% for (let i = 0; i < page.items.length; ++i) { %>
                        <button class="dashboard-page page-item button-icon-noborder"
                            data-page-id="<%= page._id %>" data-item-id="<%= page.items[i]._id %>">
                            <p class="dashboard-page-title"><%= page.items[i].name %></p>
                        </button>
                    <% }; %>
                <% }; %>

                <button id="PageButtonAddItem" class="dashboard-page page-action button-icon-noborder">
                    <i class="material-icons-outlined">add</i>
                    <p>Add New Item</p>
                </button>
            </div>

            <button id="PageButtonManagePage" class="button">Manage Page</button>
        </div>

        <% include ../includes/dialogs/dialogManagePage %>
        <% include ../includes/dialogs/dialogViewItem %>
        <% include ../includes/dialogs/dialogEditItem %>
        <% include ../includes/dialogs/dialogAddItem %>

        <script defer src="/js/page.js"></script>
        <% include ../includes/scripts %>
        
    </body>

</html>
