<!DOCTYPE html>
<html>

    <% include ../includes/head %>

    <body>

        <% include ../includes/elements/navigation %>

        <div class="page-content">
            <h1><%= page.name %></h1>
            
            <h2>Artefacts</h2>
            <div id="PageGridArtefacts" class="dashboard-grid">
                <% if (page && page.artefacts) { %>
                    <% for (let i = 0; i < page.artefacts.length; ++i) { %>
                        <button class="dashboard-page page-artefact button-icon-noborder"
                            data-page-id="<%= page._id %>" data-artefact-id="<%= page.artefacts[i]._id %>">
                            <p class="dashboard-page-title"><%= page.artefacts[i].name %></p>
                        </button>
                    <% }; %>
                <% }; %>

                <button id="PageButtonAddArtefact" class="dashboard-page page-action button-icon-noborder">
                    <i class="material-icons-outlined">add</i>
                    <p>Add New Artefact</p>
                </button>
            </div>

            <button id="PageButtonManagePage" class="button">Manage Page</button>
        </div>

        <% include ../includes/dialogs/dialogManagePage %>
        <% include ../includes/dialogs/dialogViewArtefact %>
        <% include ../includes/dialogs/dialogEditArtefact %>
        <% include ../includes/dialogs/dialogAddArtefact %>

        <script defer src="/js/page.js"></script>
        <% include ../includes/scripts %>
        
    </body>

</html>
