<header class="navigation-top flex-horizontal flex-center">
    <a href="/">
        <h2>Inherit That</h2>
    </a>

    <div class="flex-fill"></div>

    <div class="navigation-top-buttons">
        <% if (user) { %>
        <a class="button-icon" href="/">
            <i class="material-icons-outlined">dashboard</i>
        </a>

        <div class="dropdown-container">
            <button class="button-icon" data-dropdown="DropdownUser">
                <% if (user.display_picture) { %>
                <img src="<%= user.display_picture %>" />
                <% } else { %>
                <i class="material-icons-outlined">account_circle</i>
                <% }; %>

                <i class="material-icons-outlined button-icon-dropdown">arrow_drop_down</i>
            </button>

            <div id="DropdownUser" class="dropdown-content dropdown-right">
                <div class="dropdown-panel dropdown-heading">
                    <p><%= user.display_name %></p>
                </div>

                <div class="dropdown-panel">
                    <form action="/user/logout" method="post" data-post-text="Logging Out">
                        <input type="submit" value="Log Out" class="button-menu">
                    </form>

                    <a class="button-menu" href="/auth/google">Switch User</a>
                </div>

                <div class="dropdown-panel">
                    <form action="/user/delete" method="post" data-post-text="Deleting Account">
                        <input type="submit" value="Delete Account" class="button-menu button-error">
                    </form>
                </div>
            </div>
        </div>
        <% } else { %>
        <a class="button" href="/auth/google">Log In</a>
        <% }; %>
    </div>
</header>
