<header class="navigation-top flex-horizontal flex-center">
    <a href="/">
        <h2>Inherit That</h2>
    </a>

    <div class="flex-fill"></div>

    <div class="navigation-top-buttons">
        <% if (user) { %>
        <div class="dropdown-container">
            <button class="button-icon" data-dropdown="DropdownUser">
                <% if (user.display_picture) { %>
                <img src="<%= user.display_picture %>" />
                <% } else { %>
                <i class="material-icons-outlined">account_circle</i>
                <% }; %>

                <i class="material-icons-outlined button-icon-dropdown">arrow_drop_down</i>
            </button>

            <div id="DropdownUser" class="dropdown-content dropdown-right">
                <div class="dropdown-panel dropdown-heading"><%= user.display_name %></div>

                <div class="dropdown-panel">
                    <a class="button-menu" href="/auth/logout">
                        <i class="material-icons-outlined">exit_to_app</i>
                        <span>Log Out</span>
                    </a>
                    <a class="button-menu" href="/auth/login">
                        <i class="material-icons-outlined">swap_horiz</i>
                        <span>Switch User</span>
                    </a>
                </div>

                <div class="dropdown-panel">
                    <button id="DropdownUserButtonDelete" class="button-menu button-error">
                        <i class="material-icons-outlined">delete</i>
                        <span>Delete Account</span>
                    </button>
                </div>
            </div>
        </div>
        <% } else { %>
        <a class="button" href="/auth/login">Log In</a>
        <% }; %>
    </div>
</header>

<script defer src="/js/navigation.js"></script>
