<nav class="flex-horizontal flex-center">
    <a href="/">
        <h2>Inherit That</h2>
    </a>

    <div class="flex-fill"></div>

    <% if (user) { %>
        <p class="nav-user-description"><%= user.display_name %></p>
        <div class="dropdown-container">
            <button class="button-icon" data-dropdown="DropdownUser">
                <% if (user.display_picture) { %>
                    <img src="<%= user.display_picture %>"/>
                <% } else { %>
                    <i class="material-icons">account_circle</i>
                <% }; %>
                
                <i class="material-icons button-icon-dropdown">arrow_drop_down</i>
            </button>

            <div id="DropdownUser" class="dropdown-content dropdown-right">
                <div class="dropdown-panel dropdown-heading">
                    <p><%= user.display_name %></p>
                </div>
                <div class="dropdown-panel">
                    <a class="button-menu" href="/auth/google">Switch User</a>
                    
                    <form action="/user/logout" method="post" data-post-text="Logging Out">
                        <input type="submit" value="Log Out" class="button-menu">
                    </form>
                </div>
            </div>
        </div>
    <% } else { %>
        <a class="button" href="/auth/google">Log In</a>
    <% }; %>
</nav>