<nav class="flex-horizontal flex-center">
    <a href="/">
        <h1><%= title %></h1>
    </a>

    <div class="flex-fill"></div>

    <% if (user) { %>
        <p class="nav-user-description"><%= user.display_name %></p>
        <div class="dropdown-container">
            <button class="button-icon" data-dropdown="DropdownUser">
                <i class="material-icons">account_circle</i>
            </button>

            <div id="DropdownUser" class="dropdown-content dropdown-right">
                <div class="dropdown-panel dropdown-heading">
                    <p><%= user.display_name %></p>
                </div>
                <div class="dropdown-panel">
                    <a class="button-menu" href="/auth/google">Switch User</a>
                    <button class="button-menu" data-post="/user/logout">Log Out</button>
                </div>
            </div>
        </div>
    <% } else { %>
        <a class="button" href="/auth/google">Log In</a>
    <% }; %>
</nav>